venv/
build/
dist/
.env
*/__pycache__/

device_details.txt
speakers.json
main.spec
GameAssistant.lnk
GameAssistant.spec
run.ps1

chromadb/
output.mp3
temp_*

*.gguf
.serena/
.vscode/
.gemini/
.specify/
specs/

wheels/

test/

.twitch_tokens.json
chroma_tokens_data/

settings.json

chroma_backup_*

logs/

